@model ProyectoPrograAvanzada.Models.PedidoDetalle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PedidoDetalle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestoPorc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpuestoPorc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
